@model S2022A2MNO.Models.InvoiceWithDetailViewModel

@{
    ViewBag.Title = "Details";
    var formDate = Model.InvoiceDate.ToShortDateString();
}

<h2>Invoice Details #@Html.DisplayFor(model => model.InvoiceId) </h2>

<div>
    <h4>Invoice and Customer Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>
        <dd>
            @formDate
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd>
            $ @Html.DisplayFor(model => model.Total)
        </dd>
        <dt>
            <b>Sales Representative</b>
        </dt>
        <dd>
            @Model.CustomerEmployeeFirstName @Model.CustomerEmployeeLastName
        </dd>
    </dl>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt>
            Customer Info
        </dt>
        <dd>
            @Model.CustomerFirstName @Model.CustomerLastName<br />
            @Model.CustomerCity, @Model.CustomerState
        </dd>
        <dt>
            Billing Address
        </dt>
        <dd>
            @Model.BillingAddress<br />
            @Model.BillingCity, @Model.BillingState, @Model.BillingCountry<br />
            @Model.BillingPostalCode
        </dd> 
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
