@model IEnumerable<S2022A2MNO.Models.TrackBaseViewModel>

@{
    ViewBag.Title = "Index";
}
@{
    string actionName = ViewContext.RouteData.GetRequiredString("action");
    string title;

    switch (actionName)
    {
        case "Index":
            title = "All tracks";
            break;
        case "AllRockMetal":
            title = "Only Rock & Metal tracks";
            break;
        case "AllTyler":
            title = "Only Steven Tyler & Jim Vallance tracks";
            break;
        case "Longest":
            title = "50 longest songs (miliseconds)";
            break;
        case "Smallest":
            title = "50 smallest songs (bytes)";
            break;
        default:
            title = "Default";
            break;
    }
}

<h2>@title</h2>

<p>
    @Html.ActionLink("All Tracks", "Index") |
    @Html.ActionLink("Rock & Metal Tracks", "AllRockMetal") |
    @Html.ActionLink("Tyler & Vallance Tracks", "AllTyler") |
    @Html.ActionLink("Longest Tracks", "Longest") |
    @Html.ActionLink("Smallest Tracks", "Smallest") |
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlbumId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MediaTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GenreId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Composer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Milliseconds)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bytes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th></th>
    </tr>

    @foreach (var track in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(i => track.Name)
            </td>
            <td>
                @Html.DisplayFor(i => track.AlbumId)
            </td>
            <td>
                @Html.DisplayFor(i => track.MediaTypeId)
            </td>
            <td>
                @Html.DisplayFor(i => track.GenreId)
            </td>
            <td>
                @Html.DisplayFor(i => track.Composer)
            </td>
            <td>
                @Html.DisplayFor(i => track.Milliseconds)
            </td>
            <td>
                @Html.DisplayFor(i => track.Bytes)
            </td>
            <td>
                @Html.DisplayFor(i => track.UnitPrice)
            </td>
        </tr>
    }

</table>
